body {
  margin: 100px;
}

.box {
  width: 300px;
  height: 300px;
  background-color: #3dccc7;

  /* transition-duration: 1000ms;
  transition-property: background, transform;
  transition-timing-function: ease-in-out;
  transition-delay: 0.3s; */
  transition: 1s background ease-in, 500ms transform ease-out;
}

.box:hover {
  background: #ff6b6b;
  transform: rotate(45deg);
}
